.sfm-toolbar-content {
    background: #000000;
}

.sfm-toolbar-container a,
.sfm-toolbar-welcome,
.sfm-toolbar-language {
    color: #ffffff
}


.sfm-navicon,
.sfm-navicon:after,
.sfm-navicon:before,
.sfm-sidebar-close:before,
.sfm-sidebar-close:after {
    height: 2px !important;
    font-family: Arial, Helvetica, sans-serif;

}

.sfm-label-square .sfm-navicon-button,
.sfm-label-rsquare .sfm-navicon-button,
.sfm-label-circle .sfm-navicon-button {
    border-width: 2px !important;
    font-family: Arial, Helvetica, sans-serif;
}

.sfm-vertical-nav .sfm-submenu-visible>a .sfm-sm-indicator i:after {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    font-family: Arial, Helvetica, sans-serif;
}


.sfm-pos-right .sfm-vertical-nav .sfm-has-child-menu>a:before {
    display: none;
    font-family: Arial, Helvetica, sans-serif;
}


.sfm-pos-right #sfm-sidebar.sfm-vertical-nav .sfm-sm-indicator {
    left: auto;
    right: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#sfm-sidebar.sfm-compact .sfm-nav {
    min-height: 50vh;
    height: auto;
    max-height: none;
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

#sfm-sidebar.sfm-compact input[type=search] {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

/*}*/

#sfm-sidebar .sfm-sidebar-bg,
#sfm-sidebar .sfm-social {
    background-color: rgb(255, 255, 255) !important;
}

#sfm-sidebar,
.sfm-sidebar-bg,
#sfm-sidebar .sfm-nav,
#sfm-sidebar .sfm-widget,
#sfm-sidebar .sfm-logo,
#sfm-sidebar .sfm-social,
.sfm-style-toolbar .sfm-copy {
    width: 350px;
    font-family: Arial, Helvetica, sans-serif;
}

#sfm-sidebar:not(.sfm-iconbar) .sfm-menu li>a span {
    max-width: calc(350px - 80px);
}

#sfm-sidebar .sfm-social {
    background-color: transparent !important;
}

#sfm-sidebar .sfm-menu li>a:before {
    background: #f69816;
}

#sfm-sidebar .sfm-menu-level-1 li>a:before {
    background: #ffffff;
}

#sfm-sidebar .sfm-menu-level-2 li>a:before {
    background: #ffffff;
}

#sfm-sidebar .sfm-menu-level-3 li>a:before {
    background: #ffffff;
}

@media only screen and (min-width: 800px) {
    #sfm-sidebar .sfm-menu-level-0 li:hover:before,
    #sfm-sidebar .sfm-menu-level-0 li.sfm-active-item:before,
    #sfm-sidebar .sfm-menu-level-0 li.sfm-active-smooth:before {
        background-color: #000000;
    }
}

#sfm-sidebar .sfm-view-level-1 .sfm-menu li:hover:before,
#sfm-sidebar .sfm-view-level-1 .sfm-menu li.sfm-active-item:before {
    background-color: #ffffff;
}

#sfm-sidebar .sfm-view-level-2 .sfm-menu li:hover:before,
#sfm-sidebar .sfm-view-level-2 .sfm-menu li.sfm-active-item:before {
    background-color: #ffffff;
}

#sfm-sidebar .sfm-view-level-3 .sfm-menu li:hover:before,
#sfm-sidebar .sfm-view-level-3 .sfm-menu li.sfm-active-item:before {
    background-color: #ffffff;
}

#sfm-sidebar .sfm-menu li:hover>a span,
#sfm-sidebar .sfm-menu li>a:focus span,
#sfm-sidebar .sfm-menu li:hover>a img,
#sfm-sidebar .sfm-menu li>a:focus img,
#sfm-sidebar .sfm-menu li:hover>a .la_icon,
#sfm-sidebar .sfm-menu li>a:focus .la_icon,
#sfm-sidebar .sfm-menu li.sfm-submenu-visible>a img,
#sfm-sidebar .sfm-menu li.sfm-submenu-visible>a .la_icon,
#sfm-sidebar .sfm-menu li.sfm-submenu-visible>a span {
    right: -2px;
    left: auto;
}

.sfm-pos-right .sfm-sub-flyout #sfm-sidebar .sfm-menu li>a:focus span,
.sfm-pos-right .sfm-sub-flyout #sfm-sidebar .sfm-menu li:hover>a span,
.sfm-pos-right .sfm-sub-flyout #sfm-sidebar .sfm-menu li:hover>a img,
.sfm-pos-right .sfm-sub-flyout #sfm-sidebar .sfm-menu li>a:focus img,
.sfm-pos-right .sfm-sub-flyout #sfm-sidebar .sfm-menu li.sfm-submenu-visible>a img,
.sfm-pos-right .sfm-sub-flyout #sfm-sidebar .sfm-menu li.sfm-submenu-visible>a span {
    right: 2px;
    left: auto;
}

#sfm-sidebar .sfm-menu li a,
#sfm-sidebar .sfm-chapter,
#sfm-sidebar .widget-area,
.sfm-search-form input {
    padding-left: 10% !important;
}

.sfm-pos-right .sfm-sub-flyout #sfm-sidebar .sfm-menu li a,
.sfm-pos-right .sfm-sub-flyout #sfm-sidebar .sfm-view .sfm-back-parent,
.sfm-pos-right .sfm-sub-flyout #sfm-sidebar .sfm-chapter,
.sfm-pos-right .sfm-sub-flyout #sfm-sidebar .widget-area,
.sfm-pos-right .sfm-sub-flyout .sfm-search-form input {
    padding-left: 14% !important;
}

#sfm-sidebar .sfm-child-menu.sfm-menu-level-1 li a {
    padding-left: 12% !important;
}

#sfm-sidebar .sfm-child-menu.sfm-menu-level-2 li a {
    padding-left: 14% !important;
}

#sfm-sidebar.sfm-compact .sfm-social li {
    text-align: left;
}

#sfm-sidebar.sfm-compact .sfm-social:before {
    right: auto;
    left: auto;
    left: 10%;
}

#sfm-sidebar:after {
    display: none !important;
}

body.sfm-body-pushed>* {
    -webkit-transform: translate3d(175px, 0, 0);
    transform: translate3d(175px, 0, 0);
}

.sfm-pos-right .sfm-body-pushed>* {
    -webkit-transform: translate3d(-175px, 0, 0);
    transform: translate3d(-175px, 0, 0);
}

#sfm-sidebar,
.sfm-pos-right .sfm-sidebar-slide.sfm-body-pushed #sfm-mob-navbar {
    -webkit-transform: translate3d(-350px, 0, 0);
    transform: translate3d(-350px, 0, 0);
}

.sfm-pos-right #sfm-sidebar,
.sfm-sidebar-slide.sfm-body-pushed #sfm-mob-navbar {
    -webkit-transform: translate3d(350px, 0, 0);
    transform: translate3d(350px, 0, 0);
}

.sfm-pos-left #sfm-sidebar .sfm-view-level-1 {
    left: 350px;
    width: 250px;
    -webkit-transform: translate3d(-250px, 0, 0);
    transform: translate3d(-250px, 0, 0);
}

#sfm-sidebar .sfm-view-level-1 .sfm-menu {
    width: 250px;
}

#sfm-sidebar .sfm-view-level-2 .sfm-menu {
    width: 350px;
}

#sfm-sidebar .sfm-view-level-3 .sfm-menu {
    width: 200px;
}

.sfm-pos-right #sfm-sidebar .sfm-view-level-1 {
    left: auto;
    right: 350px;
    width: 250px;
    -webkit-transform: translate3d(250px, 0, 0);
    transform: translate3d(250px, 0, 0);
}

.sfm-pos-left #sfm-sidebar .sfm-view-level-2 {
    left: 600px;
    width: 350px;
    -webkit-transform: translate3d(-950px, 0, 0);
    transform: translate3d(-950px, 0, 0);
}

.sfm-pos-right #sfm-sidebar .sfm-view-level-2 {
    left: auto;
    right: 600px;
    width: 350px;
    -webkit-transform: translate3d(950px, 0, 0);
    transform: translate3d(950px, 0, 0);
}

.sfm-pos-left #sfm-sidebar .sfm-view-level-3 {
    left: 950px;
    width: 200px;
    -webkit-transform: translate3d(-1150px, 0, 0);
    transform: translate3d(-1150px, 0, 0);
}

.sfm-pos-right #sfm-sidebar .sfm-view-level-3 {
    left: auto;
    right: 950px;
    width: 200px;
    -webkit-transform: translate3d(950px, 0, 0);
    transform: translate3d(950px, 0, 0);
}

.sfm-view-pushed-1 #sfm-sidebar .sfm-view-level-2 {
    -webkit-transform: translate3d(-350px, 0, 0);
    transform: translate3d(-350px, 0, 0);
}

.sfm-pos-right .sfm-view-pushed-1 #sfm-sidebar .sfm-view-level-2 {
    -webkit-transform: translate3d(350px, 0, 0);
    transform: translate3d(350px, 0, 0);
}

.sfm-view-pushed-2 #sfm-sidebar .sfm-view-level-3 {
    -webkit-transform: translate3d(-200px, 0, 0);
    transform: translate3d(-200px, 0, 0);
}

.sfm-pos-right .sfm-view-pushed-2 #sfm-sidebar .sfm-view-level-3 {
    -webkit-transform: translate3d(200px, 0, 0);
    transform: translate3d(200px, 0, 0);
}

.sfm-sub-swipe #sfm-sidebar .sfm-view-level-1,
.sfm-sub-swipe #sfm-sidebar .sfm-view-level-2,
.sfm-sub-swipe #sfm-sidebar .sfm-view-level-3,
.sfm-sub-swipe #sfm-sidebar .sfm-view-level-custom,
.sfm-sub-dropdown #sfm-sidebar .sfm-view-level-custom {
    left: 350px;
    width: 350px;
}

.sfm-sub-dropdown #sfm-sidebar .sfm-view-level-custom {
    width: 350px !important;
}

.sfm-sub-swipe #sfm-sidebar .sfm-view-level-custom,
.sfm-sub-swipe #sfm-sidebar .sfm-view-level-custom .sfm-custom-content,
.sfm-sub-swipe #sfm-sidebar .sfm-view-level-custom .sfm-content-wrapper {
    width: 250px !important;
}

.sfm-sub-swipe #sfm-sidebar .sfm-menu {
    width: 350px;
}

.sfm-sub-swipe.sfm-view-pushed-1 #sfm-sidebar .sfm-view-level-1,
.sfm-sub-swipe.sfm-view-pushed-2 #sfm-sidebar .sfm-view-level-2,
.sfm-sub-swipe.sfm-view-pushed-3 #sfm-sidebar .sfm-view-level-3,
.sfm-sub-dropdown.sfm-view-pushed-custom #sfm-sidebar .sfm-view-level-custom,
.sfm-sub-swipe.sfm-view-pushed-custom #sfm-sidebar .sfm-view-level-custom {
    -webkit-transform: translate3d(-350px, 0, 0) !important;
    transform: translate3d(-350px, 0, 0) !important;
}

.sfm-sub-swipe.sfm-view-pushed-1 #sfm-sidebar .sfm-scroll-main,
.sfm-sub-swipe.sfm-view-pushed-custom #sfm-sidebar .sfm-scroll-main,
.sfm-sub-dropdown.sfm-view-pushed-custom #sfm-sidebar .sfm-scroll-main {
    -webkit-transform: translate3d(-100%, 0, 0) !important;
    transform: translate3d(-100%, 0, 0) !important;
}

.sfm-sub-swipe.sfm-view-pushed-2 #sfm-sidebar .sfm-view-level-1,
.sfm-sub-swipe.sfm-view-pushed-custom #sfm-sidebar .sfm-view-level-1,
.sfm-sub-swipe.sfm-view-pushed-3 #sfm-sidebar .sfm-view-level-2,
.sfm-sub-swipe.sfm-view-pushed-custom.sfm-view-pushed-2 #sfm-sidebar .sfm-view-level-2 {
    -webkit-transform: translate3d(-200%, 0, 0) !important;
    transform: translate3d(-200%, 0, 0) !important;
}

/* custom content */

.sfm-pos-left .sfm-view-pushed-1.sfm-view-pushed-custom #sfm-sidebar .sfm-view-level-custom {
    right: -250px;
}

.sfm-pos-left .sfm-view-pushed-2.sfm-view-pushed-custom #sfm-sidebar .sfm-view-level-custom {
    right: -600px;
}

.sfm-pos-left .sfm-view-pushed-3.sfm-view-pushed-custom #sfm-sidebar .sfm-view-level-custom {
    right: -800px;
}

.sfm-sub-swipe.sfm-view-pushed-custom #sfm-sidebar .sfm-view-level-custom,
.sfm-sub-dropdown.sfm-view-pushed-custom #sfm-sidebar .sfm-view-level-custom {
    right: 0;
}

.sfm-pos-right .sfm-view-pushed-1.sfm-view-pushed-custom #sfm-sidebar.sfm-sub-flyout .sfm-view-level-custom {
    left: -250px;
}

.sfm-pos-right .sfm-view-pushed-2.sfm-view-pushed-custom #sfm-sidebar.sfm-sub-flyout .sfm-view-level-custom {
    left: -600px;
}

.sfm-pos-right .sfm-view-pushed-3.sfm-view-pushed-custom #sfm-sidebar.sfm-sub-flyout .sfm-view-level-custom {
    left: -800px;
}

.sfm-pos-left .sfm-view-pushed-custom #sfm-sidebar .sfm-view-level-custom {
    transform: translate3d(100%, 0, 0);
}

.sfm-pos-right .sfm-view-pushed-custom #sfm-sidebar .sfm-view-level-custom {
    transform: translate3d(-100%, 0, 0);
}

#sfm-sidebar .sfm-menu a img {
    max-width: 40px;
    max-height: 40px;
}

#sfm-sidebar .sfm-menu .la_icon {
    font-size: 40px;
    min-width: 40px;
    min-height: 40px;
}

#sfm-sidebar .sfm-back-parent {
    background: rgb(255, 255, 255);
}

#sfm-sidebar .sfm-view-level-1,
#sfm-sidebar ul.sfm-menu-level-1 {
    background: rgb(203, 190, 182);
}

#sfm-sidebar .sfm-view-level-2,
#sfm-sidebar ul.sfm-menu-level-2 {
    background: #f69816;
}

#sfm-sidebar .sfm-view-level-3,
#sfm-sidebar ul.sfm-menu-level-3 {
    background: #f69816;
}

#sfm-sidebar .sfm-menu-level-0 li,
#sfm-sidebar .sfm-menu-level-0 li a,
.sfm-title h3,
#sfm-sidebar .sfm-back-parent {
    color: #000000;
}

#sfm-sidebar .sfm-menu li a,
#sfm-sidebar .sfm-chapter,
#sfm-sidebar .sfm-back-parent {
    padding: 25px 0;
    text-transform: capitalize;
}

.sfm-style-full #sfm-sidebar.sfm-hl-line .sfm-menu li>a:before {
    bottom: 20px
}

#sfm-sidebar .sfm-search-form input[type=text] {
    padding-top: 25px;
    padding-bottom: 25px;
}

.sfm-sub-swipe #sfm-sidebar .sfm-view .sfm-menu,
.sfm-sub-swipe .sfm-custom-content,
.sfm-sub-dropdown .sfm-custom-content {
    padding-top: 68px;
}

#sfm-sidebar .sfm-search-form span {
    top: 28px;
    font-size: 15px;
    font-weight: normal;
}

#sfm-sidebar {
    font-family: inherit;
}

#sfm-sidebar .sfm-sm-indicator {
    line-height: 18px;
}

#sfm-sidebar.sfm-indicators .sfm-sm-indicator i {
    width: 6px;
    height: 6px;
    border-top-width: 2px;
    border-right-width: 2px;
    margin: -3px 0 0 -3px;
}

#sfm-sidebar .sfm-search-form input {
    font-size: 18px;
}

#sfm-sidebar .sfm-menu li a,
#sfm-sidebar .sfm-menu .sfm-chapter,
#sfm-sidebar .sfm-back-parent {
    font-family: inherit;
    font-weight: normal;
    font-size: 18px;
    letter-spacing: 0px;
    text-align: left;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

#sfm-sidebar .sfm-social-abbr a {
    font-family: inherit;
}

#sfm-sidebar .sfm-widget,
#sfm-sidebar .widget-area {
    text-align: left;
}

#sfm-sidebar .sfm-social {
    text-align: center !important;
}

#sfm-sidebar .sfm-menu .sfm-chapter {
    font-size: 15px;
    margin-top: 25px;
    font-weight: bold;
    text-transform: uppercase;
}

#sfm-sidebar .sfm-menu .sfm-chapter div {
    font-family: inherit;
    font-size: 15px;
}

.sfm-rollback a {
    font-family: inherit;
}

#sfm-sidebar .sfm-menu .la_icon {
    color: #777;
}

#sfm-sidebar .sfm-menu-level-0 li .sfm-sm-indicator i {
    border-color: #000000;
}

#sfm-sidebar .sfm-menu-level-0 .sfm-sl,
.sfm-title h2,
.sfm-social:after {
    color: #eeeeee;
}

#sfm-sidebar .sfm-menu-level-1 li .sfm-sm-indicator i {
    border-color: #ffffff;
}

#sfm-sidebar .sfm-menu-level-1 .sfm-sl {
    color: #eeeeee;
}

#sfm-sidebar .sfm-menu-level-2 li .sfm-sm-indicator i {
    border-color: #ffffff;
}

#sfm-sidebar .sfm-menu-level-2 .sfm-sl {
    color: #eeeeee;
}

#sfm-sidebar .sfm-menu-level-3 li .sfm-sm-indicator i {
    border-color: #ffffff;
}

#sfm-sidebar .sfm-menu-level-3 .sfm-sl {
    color: #eeeeee;
}

.sfm-menu-level-0 .sfm-chapter {
    color: #00ffb8 !important;
}

.sfm-menu-level-1 .sfm-chapter {
    color: #ffffff !important;
}

.sfm-menu-level-2 .sfm-chapter {
    color: #ffffff !important;
}

.sfm-menu-level-3 .sfm-chapter {
    color: #ffffff !important;
}

#sfm-sidebar .sfm-view-level-1 li a,
#sfm-sidebar .sfm-menu-level-1 li a {
    color: #ffffff;
    border-color: #ffffff;
}

#sfm-sidebar:after {
    background-color: rgb(255, 255, 255);
}

#sfm-sidebar .sfm-view-level-2 li a,
#sfm-sidebar .sfm-menu-level-2 li a {
    color: #ffffff;
    border-color: #ffffff;
}

#sfm-sidebar .sfm-view-level-3 li a,
#sfm-sidebar .sfm-menu-level-3 li a {
    color: #ffffff;
    border-color: #ffffff;
}

.sfm-navicon-button {
    top: 10px;
}

@media only screen and (max-width: 800px) {
    .sfm-navicon-button {
        top: 0px;
    }
}

.sfm-navicon-button {
    left: 10px !important;
}

@media only screen and (max-width: 800px) {
    .sfm-navicon-button {
        left: 0px !important;
    }
}

@media only screen and (min-width: 800px) {
    .sfm-pos-left.sfm-bar body,
    .sfm-pos-left.sfm-bar #wpadminbar {
        padding-left: 350px !important;
    }
    .sfm-pos-right.sfm-bar body,
    .sfm-pos-right.sfm-bar #wpadminbar {
        padding-right: 350px !important;
    }
}

.sfm-navicon:after,
.sfm-label-text .sfm-navicon:after,
.sfm-label-none .sfm-navicon:after {
    top: -6px;
}

.sfm-navicon:before,
.sfm-label-text .sfm-navicon:before,
.sfm-label-none .sfm-navicon:before {
    top: 6px;
}

.sfm-body-pushed #sfm-overlay,
body[class*="sfm-view-pushed"] #sfm-overlay {
    opacity: 0.6;
}

.sfm-body-pushed #sfm-overlay,
body[class*="sfm-view-pushed"] #sfm-overlay {
    cursor: url("https://nerogiardini.it/wp-content/plugins/superfly-menu/img/close3.png") 16 16, pointer;
}

.sfm-navicon-button:after {
    display: block;
    content: "Menu";
    line-height: 18px;
    font-size: 12px;
    font-weight: normal;
    text-align: center;
    text-decoration: none !important;
    position: absolute;
    left: -50%;
    top: 100%;
    width: 200%;
    margin: 5px 0 0 0;
    color: #000000;
}

.sfm-label-none .sfm-navicon-button:after {
    /*margin: -8px 0 0 -5px;*/
    /*left: 100%;*/
    /*top: 50%;*/
    /*width: auto;*/
}

#sfm-sidebar .sfm-menu li:after {
    content: '';
    display: block;
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    height: 1px;
    background: rgba(0, 0, 0, 0.15);
    margin: 0 auto;
    z-index: 0;
}

#sfm-sidebar .sfm-menu li:last-child:after {
    display: none;
}

.sfm-style-skew #sfm-sidebar .sfm-social {
    height: auto;
    /*min-height: 75px;*/
}

.sfm-theme-top .sfm-sidebar-bg,
.sfm-theme-bottom .sfm-sidebar-bg {
    width: 700px;
}

/* Pos left */

.sfm-theme-top .sfm-sidebar-bg {
    -webkit-transform: translate3d(-350px, 0, 0) skewX(-12.05deg);
    transform: translate3d(-350px, 0, 0) skewX(-12.05deg);
}

.sfm-theme-bottom .sfm-sidebar-bg {
    -webkit-transform: translate3d(-700px, 0, 0) skewX(12.05deg);
    transform: translate3d(-350px, 0, 0) skewX(12.05deg);
}

/* Pos right */

.sfm-pos-right .sfm-theme-top .sfm-sidebar-bg {
    -webkit-transform: translate3d(-0px, 0, 0) skewX(12.05deg);
    transform: translate3d(-0px, 0, 0) skewX(12.05deg);
}


/* exposed */

.sfm-sidebar-exposed.sfm-theme-top .sfm-sidebar-bg,
.sfm-sidebar-always .sfm-theme-top .sfm-sidebar-bg {
    -webkit-transform: translate3d(-116.66666666667px, 0, 0) skewX(-12.05deg);
    transform: translate3d(-116.66666666667px, 0, 0) skewX(-12.05deg);
}

.sfm-pos-right .sfm-sidebar-exposed.sfm-theme-top .sfm-sidebar-bg,
.sfm-pos-right .sfm-sidebar-always .sfm-theme-top .sfm-sidebar-bg {
    -webkit-transform: translate3d(-350px, 0, 0) skewX(12.05deg);
    transform: translate3d(-175px, 0, 0) skewX(12.05deg);
}

.sfm-sidebar-exposed.sfm-theme-bottom .sfm-sidebar-bg,
.sfm-sidebar-always .sfm-theme-bottom .sfm-sidebar-bg {
    -webkit-transform: translate3d(-233.33333333333px, 0, 0) skewX(12.05deg);
    transform: translate3d(-233.33333333333px, 0, 0) skewX(12.05deg);
}

.sfm-pos-right .sfm-sidebar-exposed.sfm-theme-bottom .sfm-sidebar-bg,
.sfm-pos-right .sfm-sidebar-always .sfm-theme-bottom .sfm-sidebar-bg {
    -webkit-transform: translate3d(-233.33333333333px, 0, 0) skewX(-12.05deg);
    transform: translate3d(-233.33333333333px, 0, 0) skewX(-12.05deg);
}

/* Always visible */

.sfm-sidebar-always.sfm-theme-top .sfm-sidebar-bg {
    -webkit-transform: skewX(-12.05deg);
    transform: skewX(-12.05deg);
}

.sfm-pos-right .sfm-sidebar-always.sfm-theme-top .sfm-sidebar-bg {
    -webkit-transform: skewX(12.05deg);
    transform: skewX(12.05deg);
}

.sfm-sidebar-always.sfm-theme-bottom .sfm-sidebar-bg {
    -webkit-transform: skewX(-160.65deg);
    transform: skewX(-160.65deg);
}

.sfm-pos-right .sfm-sidebar-always.sfm-theme-bottom .sfm-sidebar-bg {
    -webkit-transform: skewX(160.65deg);
    transform: skewX(160.65deg);
}

.sfm-navicon,
.sfm-navicon:after,
.sfm-navicon:before,
.sfm-label-metro .sfm-navicon-button,
#sfm-mob-navbar {
    background-color: #000000;
}

.sfm-label-metro .sfm-navicon,
#sfm-mob-navbar .sfm-navicon,
.sfm-label-metro .sfm-navicon:after,
#sfm-mob-navbar .sfm-navicon:after,
.sfm-label-metro .sfm-navicon:before,
#sfm-mob-navbar .sfm-navicon:before {
    background-color: #ffffff;
}

.sfm-navicon-button .sf_label_icon {
    color: #ffffff;
}

.sfm-label-square .sfm-navicon-button,
.sfm-label-rsquare .sfm-navicon-button,
.sfm-label-circle .sfm-navicon-button {
    color: #000000;
}

.sfm-navicon-button .sf_label_icon {
    width: 53px;
    height: 53px;
    font-size: calc(53px * .6);
}

.sfm-navicon-button .sf_label_icon.la_icon_manager_custom {
    width: 53px;
    height: 53px;
}

.sfm-navicon-button.sf_label_default {
    width: 53px;
    height: 53px;
}

#sfm-sidebar [class*="sfm-icon-"] {
    color: #5d5d5d;
}

#sfm-sidebar .sfm-social li {
    border-color: #5d5d5d;
}

#sfm-sidebar .sfm-social a:before {
    color: #5d5d5d;
}

#sfm-sidebar .sfm-search-form {
    background-color: rgba(0, 0, 0, 0.3);
}

#sfm-sidebar li:hover span[class*='fa-'] {
    opacity: 1 !important;
}
